body {
    background-image: url(img/sporak.jpg);
    width: 100%;
}
#header {
  color: white;
  background-color: rgb(0, 35, 192);
}
h2{
    color: rgb(27, 66, 238);
}
#calc{
    background-color: rgb(27, 66, 238);
}