body {
    background-image: url(img/sporak.jpg);
    width: 100%;
}
#header {
  color: white;
  background-color: rgb(0, 24, 131);
}
h2{
    color: rgb(1, 38, 204);
}
#calc{
    background-color:   rgb(0, 24, 131);
}
#result{
    font-size: 20px;
}
#stav1 {
    font-size: 20px;
}
#stav2 {
    font-size: 20px;
}
#stav3 {
    font-size: 20px;
}
#stav4 {
    font-size: 20px;
}
#stav5 {
    font-size: 20px;
}
#hr{
    background: white;
    transform: translateY(100px);
}
#footer{
    transform: translateY(100px);
    background-color: rgb(0, 24, 131);
    color: white;
    font-size: 17px;
}